@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-display: "Comfortaa", sans-serif;
  --breakpoint-3xl: 1920px;
  /* Orangey #FF6D4D */
  /* --color-primary: oklch(70.959% 0.1849 33.902); 
  --color-primary-50: oklch(100% 0 none);
  --color-primary-100: oklch(97.27% 0.01359 34.299);
  --color-primary-200: oklch(89.762% 0.05397 32.365);
  --color-primary-300: oklch(82.855% 0.09638 32.606);
  --color-primary-400: oklch(76.368% 0.14183 33.051);
  --color-primary-500: oklch(70.959% 0.1849 33.902);
  --color-primary-600: oklch(65.568% 0.23224 33.026);
  --color-primary-700: oklch(57.646% 0.21695 32.256);
  --color-primary-800: oklch(46.451% 0.17315 32.614);
  --color-primary-900: oklch(34.63% 0.1255 33.695);
  --color-primary-950: oklch(28.367% 0.09977 34.894); */

  /* Light Turquoise #6FCECF */--color-primary: oklch(69.381% 0.09025 196.38); 
  --color-primary-50: oklch(99.104% 0.00423 197.09);
  --color-primary-100: oklch(96.803% 0.0158 196.9);
  --color-primary-200: oklch(92.205% 0.03545 198.74);
  --color-primary-300: oklch(87.816% 0.05613 196.18);
  --color-primary-400: oklch(83.43% 0.0735 196.92);
  --color-primary-500: oklch(79.381% 0.09025 196.38);
  --color-primary-600: oklch(74.131% 0.1068 195.87);
  --color-primary-700: oklch(62.618% 0.09145 196.01);
  --color-primary-800: oklch(49.746% 0.07125 196.39);
  --color-primary-900: oklch(36.266% 0.05013 195.17);
  --color-primary-950: oklch(28.905% 0.03816 195.25);

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}


:root {
  font-family: "Comfortaa", sans-serif;
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}
